.hitheader{
    cursor: pointer;
}

.itemheader{
    cursor: pointer;
}

div.container{
    width: 220px;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}
textarea{
    resize: none;
}

body{
    text-align:center;
}
